<div class="dashboard-bg py-5">
  <div class="container">
    <div class="row mb-5 text-center">
      <div class="col-12">
        <h2 class="fw-bold title-custom">SISTEMA DE GESTIÓN GIMNASIO KVM</h2>
        <p class="text-muted">Bienvenido al Sistema.</p>
      </div>
    </div>

    <div class="row g-4 justify-content-center">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-custom shadow-sm border-0">
          <div class="card-body text-center p-4">
            <div class="icon-circle mb-3">
              <i class="bi bi-people-fill"></i>
            </div>
            <h5 class="card-title fw-bold mb-4">Socios</h5>
            <a routerLink="/socios" class="btn btn-teal w-100">Ingresar</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-custom shadow-sm border-0">
          <div class="card-body text-center p-4">
            <div class="icon-circle mb-3">
              <i class="bi bi-calendar-event"></i>
            </div>
            <h5 class="card-title fw-bold mb-4">Clases</h5>
            <a routerLink="/clases" class="btn btn-teal w-100">Ingresar</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-custom shadow-sm border-0">
          <div class="card-body text-center p-4">
            <div class="icon-circle mb-3">
              <i class="bi bi-card-checklist"></i>
            </div>
            <h5 class="card-title fw-bold mb-4">Membresías</h5>
            <a routerLink="/membresias" class="btn btn-teal w-100">Ingresar</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-custom shadow-sm border-0">
          <div class="card-body text-center p-4">
            <div class="icon-circle mb-3">
              <i class="bi bi-cash-stack"></i>
            </div>
            <h5 class="card-title fw-bold mb-4">Pagos</h5>
            <a routerLink="/pagos" class="btn btn-teal w-100">Ingresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>