<div class="container py-5">
    <div class="row mb-5 text-center">
        <div class="col-12">
            <h2 class="fw-bold" style="color: var(--turq-dark);">SISTEMA DE GESTIÓN GIMNASIO KVM</h2>
            <p class="text-muted">Bienvenido al panel de administración.</p>
        </div>
    </div>

    <div class="row g-4 justify-content-center">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card card-dashboard text-center align-items-center">
                <div class="icon-box">
                    <i class="bi bi-people-fill"></i>
                </div>
                <h5 class="card-title">Socios</h5>
                <a routerLink="/socios" class="btn btn-action w-100">Ingresar</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card card-dashboard text-center align-items-center">
                <div class="icon-box">
                    <i class="bi bi-calendar-event"></i>
                </div>
                <h5 class="card-title">Clases</h5>
                <a routerLink="/clases" class="btn btn-action w-100">Ingresar</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card card-dashboard text-center align-items-center">
                <div class="icon-box">
                    <i class="bi bi-card-checklist"></i>
                </div>
                <h5 class="card-title">Membresías</h5>
                <a routerLink="/membresias" class="btn btn-action w-100">Ingresar</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card card-dashboard text-center align-items-center">
                <div class="icon-box">
                    <i class="bi bi-cash-stack"></i>
                </div>
                <h5 class="card-title">Pagos</h5>
                <a routerLink="/pagos" class="btn btn-action w-100">Ingresar</a>
            </div>
        </div>
    </div>
</div>